.stats {
    width: 100%;
    margin-top: 30px;
  }
  
  .container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 24px;
    border: 2px dashed #F4C550;
    border-radius: 30px;
  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  
    background: var(--color-white);
  }
  
  /* ITEM */
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .number {
    font-size: 32px;
    font-weight: 700;
    color: var(--color-text-main);
    margin-bottom: 4px;
  }
  
  .label {
    font-size: 16px;
    color: var(--color-text-sub);
  }
  
  /* RESPONSIVE */
  @media (max-width: 900px) {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 540px) {
    .container {
      grid-template-columns: 1fr;
      padding: 20px;
    }
  }
  